body{
    background-color: gainsboro;
   
    color:black;
}
table, th, td {
    color: black;
    padding: 5px;
    border-color: black;
  }
  table {
    padding-top: 12em;
    border-radius: 1px;
    color: black;
    margin : auto;
    
  }

  .hasil{
    border-radius: 3px;
    border-color: black;
  }